/*Utility*/
.hidden { display:none;}
/*Initial settings for all the layout*/
body { width:100%; background-color : rgb(250,250,248); font-size:14px; font-family:  Helvetica, Arial; min-width: 960px;}
#wrap { width : 100%; margin:0 auto; }
#header-wrapper { width:100%; background-color: rgb(238,238,216);  padding-top:5px !important; padding-bottom:5px !important; }
#header { width:960px; margin: 0 auto;}
#main { width: 960px; margin: 0 auto; border : 1px solid #EEEED8; background-color: white;}
#footer { width: 100%; background-color: rgb(238,238,216);}
#footer-content { width:960px; margin:0 auto; text-align:center; padding-top:10px; color:rgb(100,100,100); font-weight:bold;}
a { outline: none; text-decoration:none;}
textarea { font-family : Helvetica, Arial;}

/* #header CSS*/
#logo { display: inline; float:left; margin-right:10px;}
#logo a { display: block; }
#header ul { float:right; list-style: none; color:rgb(100,100,100); font-size:14px; text-align:right;}
#header ul li { float:left;  margin-left:30px;padding: 1px 3px;}
#header ul li.selected { background-color: #FFFFFF; }
#header ul a { text-decoration : none;}
#header ul div { float:left; display:inline; margin: 0 3px; padding:15px 15px 13px; height: 15px;}
#header ul div.selected {background-color: rgb(250,250,248); color:rgb(50,50,50); -moz-border-radius-topright: 15px; -moz-border-radius-topleft: 15px; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; }
#header div#register-login { float:right; position:relative; top:43px; font-size:20px; color: rgb(100,100,100);}
#header div#register-login  a { text-decoration : none;}
#header div#register-login  a.selected {  border: 1px solid rgb(250,250,248); background-color: rgb(250,250,248); color: rgb(50,50,50);}
/* #main CSS*/

/* testing for the height. it has to be dynamic height*/
/*#left, #center, #right { border:1px solid black; }*/
#left, #center, #right { float:left; padding-bottom:20px;}
#left { width:180px; margin-right:11px;}
#center { width:650px; margin-right : 15px; }
#right { width: 200px;}

/* application.html */
	#left { padding-top: 60px;}
	#left p { width: 140px; margin: 0 auto; text-align: center;}
	#left p.opinion  { margin-bottom: 40px;}
	#left p.opinion cite { display:block; font-style : normal; margin-top:10px;}
	
	#center { padding-top: 35px; margin-left:50px; position:relative;}
	#center a.steps-title { font-weight:bold; margin-bottom:10px; margin-left: 165px; font-size:18px; display:block;}
	#center p.steps-summary { color:#969696; margin-left:165px; font-size:14px; line-height:18px;}
	#center div.description-wrapper p.particular { margin-left: 165px; font-size:12px; margin-bottom:5px;}
	#center a.new-step { right: 0px; display: block; text-align:center; margin-bottom:20px; }
	#center div.description { clear:left;}
	#center h2.step-title { font-size:20px; color:rgb(50,50,50); margin-bottom:10px;}
	#center h2.step-title span { font-size: 10px;}
	#center p.step-description { margin-left: 30px; color:rgb(150,150,150); line-height:18px;}
		#step-desc { color:rgb(100,100,100); text-align:left; font-size:14px; line-height:18px; cursor:pointer;}
	
		#detail-selector { list-style:none ; float : right; margin-left:30px;}
		#detail-selector li {  margin-right:20px;}
/*		#uploadify { display:none;}*/
		#edit_step { clear: left;}
		#edit_step div.step-detail { margin-bottom:10px;}
		#add_step_description { display :none;}
			#step_description { border : 1px dashed rgb(230,230,230); padding: 5px; line-height:18px;}
		#steps-available div.clearfix { margin-bottom:20px;}
		#steps-available div.description-wrapper { /*border:1px solid grey;*/}
		#steps-available  a.steps-title { line-height:18px;}
		#new_post { margin-bottom:20px;}
		#new_post input.step_button { border:0; background:0;  background-color: rgb(220,220,220); border:1px solid rgb(50,50,50); margin-top:20px;}
		#new_post label { float:left; font-size:20px; width:90px; } 
		#new_post input { outline: 0;}
		#new_post text { outline: 0;}
		#new_post input#step_title { }
		#new_post  input.field-input { margin-left: 100px; float:left; width:500px; font-size:20px;}
		#new_post div.steps { margin-bottom: 30px;}
			#step-template { display:none;}
		
		
		
	#right {  background-color: rgb(250, 250, 248); margin-top:35px; padding-top:20px;}
	#right a {margin: 0 auto 10px; text-align:center; width:100px; border:1px solid rgb(166,166,151); font-size:18px; padding: 5px 0; background-color:rgb(250,250,227); cursor: pointer; display:block; text-decoration:none;}
	#right ul { list-style: none; width:100px; margin:0 auto;}
	#right ul li {  width:70px; height:70px; text-align:center;  width:100px; margin: 0 auto;}
	
/* Login */
form#new_user_session { margin-top: 20px; width:500px; margin:40px auto 10px;}
form#new_user_session span.errorMsg { margin-left: 20px; display: block; line-height: 20px; margin-top: 20px; margin-bottom: 20px; padding: 1px 1px 1px 3px; border: 1px solid red; background-color: rgb(242, 174, 190); color: rgb(100, 100, 100); text-align: left; }
form#new_user_session span.errorMsg em  { font-weight: bold; color: rgb(30, 30, 30);}
form#new_user_session  div  { margin-bottom: 40px;}
form#new_user_session label { font-size:24px; color:rgb(50,50,50); margin-bottom:10px; display:block;}
form#new_user_session input { border:2px solid rgb(50,50,50); padding:5px; font-size:15px;}
form#new_user_session input#user_session_submit { cursor: pointer;}

form#new_user { margin-top: 20px; width:500px; margin:40px auto 10px;}
form#new_user div.set-wrapper  { margin-bottom: 40px;}
form#new_user div.set-wrapper  ul.errMsg { list-style:none; padding:5px; background-color: rgb(230,230,230); color:rgb(50,50,50); font-weight:bold;}
form#new_user div.set-wrapper  ul.errMsg li { line-height:20px;}
form#new_user label { font-size:24px; color:rgb(50,50,50); margin-bottom:10px; display:block;}
form#new_user input { border:2px solid rgb(50,50,50); padding:5px; font-size:15px;}
form#new_user input#user_submit { cursor: pointer;}

form.edit_user { margin-top: 20px; width:500px; margin:40px auto 10px;}
form.edit_user p  { margin-bottom: 40px;}
form.edit_user label { font-size:24px; color:rgb(50,50,50); margin-bottom:10px; display:block;}
form.edit_user input { border:2px solid rgb(50,50,50); padding:5px; font-size:15px;}
/*form.edit_user input#user_photo { border: 0px solid black;}*/
form.edit_user input#user_submit { cursor: pointer;}

form.edit_uploaded_item label { font-size:24px; color:rgb(50,50,50); margin-bottom:10px; display:block;}
form.edit_uploaded_item input  { border:2px solid rgb(50,50,50); padding:5px; font-size:15px;}
form.edit_uploaded_item textarea  { border:2px solid rgb(50,50,50); padding:5px; font-size:15px; width:500px; height:100px;}