<ul id="steps-available">
	<div class='clearfix'>
		<img src='/images/left_first.png' style="float:left;" class="clearfix">
		<div class='description-wrapper'>
			<a class="steps-title">How to cook your cat</a>
			<p class='steps-summary'>
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles! 
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
			</p>
			<p class='particular'>
				<span class="date">17 August 2009</span> | 
				<cite>Willy Yunnal</cite>
			</p>
		</div> <!-- EO div.description-wrapper-->

		
	</div> <!-- EO starting steps entry -->
	
	<div class='clearfix'>
		<img src='/images/left_first.png' style="float:left;" class="clearfix">
		<div class='description-wrapper'>
			<a class="steps-title">How to cook your cat</a>
			<p class='steps-summary'>
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles! 
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
		
				I know that you know that cat can be extremely 
				irritating. Luckily, I found a way to cut it cleanly, without
				much fuss and troubles!
			</p>
			<p class='particular'>
				<span class="date">17 August 2009</span> | 
				<cite>Willy Yunnal</cite>
			</p>
		</div> <!-- EO div.description-wrapper-->

		
	</div> <!-- EO starting steps entry -->
	
	
</ul><!-- EO ul#steps-available -->