// $("#edit_step").hide();

// $("<div class='description'>" + '<%= escape_javascript("#{@step.description}") %>' + "</div>").
// insertAfter("ul#detail-selector");
var description =   <%=h "'" +  @step.description +  "'" %>;