<ul id="steps-available">
	<% for post in @posts %>
		<div class='clearfix' style="margin-bottom:25px;">
			<% detail = post.steps.last.details.last%>
			<% if !detail.nil? %>
				<%= image_tag detail.photo.url(:small) , :style=>"float :left;"%>
			<% else %>
				<img src='/images/willy_face_small.png' style="float:left;" />
			<% end %>
			
			<div class='description-wrapper'>
				<%= link_to "#{post.title}", tutorial_url(post.permalink)  , :class=>"steps-title"%>
				<p class='particular'>
					<span class="date"><%= post.created_at.to_date%></span> | 
					<cite>Willy Yunnal</cite>
				</p>
				<p class='steps-summary'>
					I know that you know that cat can be extremely 
					irritating. Luckily, I found a way to cut it cleanly, without
					much fuss and troubles! 
		
					I know that you know that cat can be extremely 
					irritating. Luckily, I found a way to cut it cleanly, without
					much fuss and troubles!
		
					I know that you know that cat can be extremely 
					irritating. Luckily, I found a way to cut it cleanly, without
					much fuss and troubles!
		
					I know that you know that cat can be extremely 
					irritating. Luckily, I found a way to cut it cleanly, without
					much fuss and troubles!
		
					I know that you know that cat can be extremely 
					irritating. Luckily, I found a way to cut it cleanly, without
					much fuss and troubles!
				</p>
			
			</div> <!-- EO div.description-wrapper-->

		
		</div> <!-- EO starting steps entry -->
	<% end %>
</ul><!-- EO ul#steps-available -->