
<div id='center'>
	<%= link_to "New Step", new_post_url , :class => "new-step"%>
	
	<%=  render :partial => "steps" %>

</div> <!-- EO #center -->
<div id='right'>
	<ul class="clearfix">
		This is the left of StepsController
	</ul>
</div>